.crumbs {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.crumbs_item {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
    margin-right: 42px;
    margin-bottom: 14px;
}

/*================block1==================*/
.block1 {
    width: 100%;
    padding-top: 32px;
}

.block1_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 64px;
}

.block1_like {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #333333;

    margin-bottom: 37px;
}

ion-icon[name="heart-outline"] {
    font-size: 24px;
    margin-right: 9px;
}

.block1 .rower {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*=====descriptions====*/
.descriptions {
    display: flex;
    flex-direction: column;
    width: calc(33% - 56px);
    width: 33%;
    padding: 0 28px;
}

.descriptions_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #222222;
    margin-bottom: 25px;
}

.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 16px;
    text-align: justify;
    color: #4B4B4B;
    margin-bottom: 16px;
}

.description_name {
    width: 55%;
}

.description_value {
    width: 45%;
    padding-left: 5%;
}

.costBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 16px;
}

.costBlock_left {
    display: flex;
    flex-direction: column;
}

.costBlock_right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.cost_old {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 11px;
    letter-spacing: 0.1px;
    color: #A8A8A8;
    text-decoration: line-through;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.cost_old span {
    font-size: 7px;
    line-height: 8px;
    margin: 0 4px;
    margin-bottom: 6px;
}

.cost_new {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #000000;
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
}

.cost_new span {
    font-size: 12px;
    line-height: 13px;
    margin: 0 4px;
}

.cost_title {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
    letter-spacing: 0.1px;
    color: #A8A8A8;
}

.plusMinus {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 113px;
    height: 36px;
    background: #E9E9E9;
    border-radius: 8px;
    padding-right: 3px;
    padding-left: 3px;
}

.plusMinus_item {
    background: #FFFFFF;
    border-radius: 6px;
    width: 32px;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    color: #4A4A4A;
    cursor: pointer;
}

.value {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #222222;
}

.btnBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 34px;
}

.btnInBasket {
    width: 49%;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background: #7BC049;
    border-radius: 32px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btnInBasket ion-icon[name="cart-outline"] {
    font-size: 26px;
    margin-right: 10px;
}

.btnInBasket p {
    margin: 17px 0;
}

.btnInBasket2 {
    width: 49%;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #333333;
    background: #E9E9E9;
    border-radius: 32px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/*======otherproducts=====*/
.otherproducts {
    display: flex;
    flex-direction: column;
    width: 33.3%;
}

.otherproducts_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: 0.1px;
    color: #212224;
    margin-bottom: 13px;
}

/*======cards=====*/
.cardBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*flex-wrap: wrap;*/
}

.cardBox .card {
    width: 100%;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 12px;
}

.cardBox .card a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card_img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), url(1.png);
}

.cardInfo {
    display: flex;
    flex-direction: column;
    padding: 13px;
}

.cardInfo_top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 26px;
}

.cardInfo_bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.cardInfo_cost {
    display: flex;
    flex-direction: column;
}

.cost_old {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.1px;
    color: #A8A8A8;
    text-decoration: line-through;
    display: flex;
    flex-direction: row;
}

.cost_old span {
    font-size: 7px;
    line-height: 8px;
    margin: 0 4px;
    margin-bottom: 6px;
}

.cost_new {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #000000;
    display: flex;
    flex-direction: row;
}

.cost_new span {
    font-size: 12px;
    line-height: 13px;
    margin: 0 4px;
}

.cardInfo_name {
    margin-bottom: 0;
    width: 60%;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #000000;
}

ion-icon[name="heart-outline"] {
    font-size: 24px;
    color: #A8A8A8;
}

.cardInfo_basket {
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #E9E9E9;;
    cursor: pointer;
}

ion-icon[name="cart-outline"] {
    font-size: 30px;
}

/*====fullDescriptions=====*/
.fullDescriptions {
    display: flex;
    flex-direction: column;
    margin-top: 99px;
    width: 100%;
    margin-bottom: 120px;
}

.fullDescriptions_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1px;
    color: #212224;
    padding-bottom: 20px;
    border-bottom: 1px solid #E6EBF0;
    margin-bottom: 14px;
}

.fullDescriptions_text {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    letter-spacing: 0.1px;
    color: #555555;
}

/*=============special==============*/
.basket_active{
    background: #7BC049;
    color: #FFFFFF;
}

@media screen and (min-width: 250px) and (max-width: 600px) {
    /*================block1==================*/
    .block1 {
        width: 100%;
        padding-top: 32px;
    }
    .block1 .rower {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .block1_title{
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 11px;
    }
    .block1_like{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 15px;
    }

    /*=====descriptions====*/
    .descriptions {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }
    #descriptions_main{
        display: none;
    }
    .fullDescriptions {
        display: flex;
        flex-direction: column;
        padding-top: 24px;
        width: 100%;
        margin-top: 19px;
        margin-bottom: 32px;
        border-top: 1px solid #E6EBF0;
    }
    .fullDescriptions_title {
        padding-bottom: 0px;
        border-bottom: 0;
        margin-bottom: 8px;
    }
    .fullDescriptions_text {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
    }

    /*======otherproducts=====*/
    .otherproducts {
        display: flex;
        flex-direction: column;
        width: 100%;
    }


    .costBlock_right {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .btnBlock {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 18px;
    }
    .slider4{
        margin-bottom: 80px;
    }
}





