/*body{*/
/*    background: #E5E5E5;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    width: 100%;*/
/*    max-width: 1920px;*/
/*    margin: 0 auto;*/
/*}*/



/*============block2=================*/
.block2 {
    width: 100%;
    padding-top: 0px;
}

.preview_item {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    padding-top: 32px;
}

.preview_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preview_cards .item {
    width: 184px;
    height: 184px;
    background: #F0F0F0;
    border-radius: 16px;
    margin: 6px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 48px;
    padding-top: 24px;
    cursor: pointer;
}

.previewCards_imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 61px;
    height: 61px;
    border-radius: 50%;
    background: #7BC049;
}

/*============block3=================*/
.block3 {
    width: 100%;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}

.block3 .rower {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.block3_title {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 24px;
}

.block3_left {
    width: 100%;
    max-width: 427px;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.05);
    border-radius: 32px;
}

.block3_item {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
}

.block3_itemTitle {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 24px;
}

.categoriItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.categoriItem_name {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.categoriItem_value {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #959595;
}

/*=====ползунок=====*/
.diapazonItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 13px;
}

.diapazonItem_name {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #000000;
}

.diapazonItem_value {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #959595;
}

.sliderRange {
    margin-bottom: 19px;
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.sliderRange::-webkit-slider-runnable-track {
    border-radius: 10px/100%;
    height: 3px;
    background: #7BC049;
}

.sliderRange::-webkit-slider-thumb {
    border-radius: 50%;
    cursor: pointer;
    width: 17px;
    height: 17px;
    -webkit-appearance: none;
    margin-top: -8px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sliderRange::-moz-range-track {
    border-radius: 10px/100%;
    height: 3px;
    background: #FC8900;
}

.sliderRange::-moz-range-thumb {
    border-radius: 50%;
    cursor: pointer;
    width: 37px;
    height: 37px;
    -webkit-appearance: none;
    margin-top: -17px;
    background: #FFFFFF;
    border: 3px solid #FC8900;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.characteristicItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.characteristicItem_value {
    margin-bottom: 0;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: #959595;
}

/*=====radio=====*/
.radio input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 7px;
}

.radio__text {
    position: relative;
    padding: 0 0 0 35px;
    cursor: pointer;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.radio__text:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid #CDD1DA;
    border-radius: 50%;
    background: #FFF;
}

.radio__text:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 4px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border-color: #7BC049;
    background: #7BC049;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .5);
    opacity: 0;
    transition: .2s;
}

.radio input:checked + .radio__text:after {
    opacity: 1;
}

.radio input:focus + .radio__text:before {
    border: 1px solid #7BC049;
    /*box-shadow: 0 0 0 3px rgba(255,255,0,.7);*/
}

.block3_right {
    display: flex;
    flex-direction: column;
    padding-left: 52px;
}

.block3_search {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-direction: column;

}

.block3_search .rower{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.submitField {
    background: #F2F2F2;
    border-radius: 16px;
    border: none;
    outline: none;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #ABABAB;
    display: flex;
    align-items: center;
    padding: 19px 0;
    padding-left: 21px;
    /*margin-bottom: 0px;*/
    width: calc(100% - 240px);
    max-width: 100%;
    margin: 0 12px;

}

.submitBtn {
    width: 216px;
    background: #7BC049;
    box-shadow: 0px 2px 0px #6CA741;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 19px 0;
    margin: 0 12px;
    cursor: pointer;
    height: 100%;

    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}



.submit_img {
    width: 27px;
    height: 27px;
    margin-right: 10px;
}

.submit_text {
    background: #7BC049;
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: none;
    outline: none;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    cursor: pointer;
}

.block3_cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.block3_cards .card {
    width: calc(25% - 24px);
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border: 1px solid #F7F7F7;
    box-sizing: border-box;
    border-radius: 16px;
    margin: 12px;
}

.block3_cards .card a {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card_img {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.03), rgba(0, 0, 0, 0.03)), url(1.png);
}

.cardInfo {
    display: flex;
    flex-direction: column;
    padding: 13px;
}

.cardInfo_top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 26px;
}

.cardInfo_bottom {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.cardInfo_cost {
    display: flex;
    flex-direction: column;
}

.cost_old {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 11px;
    letter-spacing: 0.1px;
    color: #A8A8A8;
    text-decoration: line-through;
    display: flex;
    flex-direction: row;
}

.cost_old span {
    font-size: 7px;
    line-height: 8px;
    margin: 0 4px;
    margin-bottom: 6px;
}

.cost_new {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.1px;
    color: #000000;
    display: flex;
    flex-direction: row;
}

.cost_new span {
    font-size: 12px;
    line-height: 13px;
    margin: 0 4px;
}

.cardInfo_name {
    margin-bottom: 0;
    width: 60%;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1px;
    color: #000000;
}

ion-icon[name="heart-outline"] {
    font-size: 24px;
    color: #A8A8A8;
}

.cardInfo_basket {
    background: #FFFFFF;
    border: 0.5px solid #E9E9E9;
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #E9E9E9;;
    cursor: pointer;
}

ion-icon[name="cart-outline"] {
    font-size: 30px;
}

.advertisement {
    background: url("./../assets/img/advertisementBG.png") #F5F5F5;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 100% 0;
    border-radius: 16px;
    padding: 55px 62px;
    position: relative;
    margin: 20px 12px;

}

.advertisement_type {
    font-family: 'GT Eesti Pro Display';
    font-style: italic;
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.4px;

    text-shadow: -1px 0 #7BC049, 0 1px #7BC049, 1px 0 #7BC049, 0 -1px #7BC049;
    -webkit-text-stroke: 2px #7BC049;
    color: #F5F5F5;
    text-transform: uppercase;
}

.advertisement_name {
    font-family: 'GT Eesti Pro Display';
    font-style: italic;
    font-weight: 900;
    font-size: 34px;
    line-height: 38px;
    letter-spacing: 0.4px;
    color: #7BC049;
    text-transform: uppercase;
    margin-bottom: 22px;
}

.advertisement_time {
    font-family: 'GT Eesti Pro Display';
    font-style: italic;
    font-weight: 400;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.4px;
    color: #929292;
}

.advertisement_img {
    position: absolute;
    height: 70%;
    width: auto;

    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/*========btnMore========*/
.btnMore {
    display: flex;
    align-items: center;
    justify-content: center;
    /*width: 100%;*/
    max-width: 100%;
    height: 44px;
    background: #F3F3F3;

    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #222222;
    margin-bottom: 24px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 12px;
    margin-right: 12px;
    margin-left: 12px;
}

/*=======pagination=======*/
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}

.arrow_L {
    width: 40px;
    height: 40px;
    background: url("../assets/img/arrow_L.png") no-repeat, #F3F3F3;
    background-position: center center;
    cursor: pointer;
    border-radius: 8px;

}

.arrow_R {
    width: 40px;
    height: 40px;
    background: url("../assets/img/arrow_R.png") no-repeat, #F3F3F3;
    background-position: center center;
    cursor: pointer;
    border-radius: 8px;
}

.pagination_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

.pagination_item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    color: #222222;
    cursor: pointer;
}

.pagination_item__active {
    background: #7BC049;
    border-radius: 8px;
    color: #FFFFFF;
}

/*=============special==============*/
.categoriItem_active {

}

.basket_active {
    background: #7BC049;
    color: #FFFFFF;
}

.textShadow {
    text-shadow: -1px 0 #FFFFFF, 0 1px black, 1px 0 black, 0 -1px #FFFFFF;
    -webkit-text-stroke: 2px #FFFFFF;
    color: black;
}

.noMb {
    margin-bottom: 0;
}

.submitBtn_mini {
    display: none;
}
.filtersBtn{
    display: none;
}

@media screen and (min-width: 250px) and (max-width: 600px) {


    .block3 .rower {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .block3_left {
        width: 100%;
        max-width: 100%;
        padding: 25px 35px;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 0px 32px rgb(0 0 0 / 5%);
        border-radius: 32px;
    }

    .block3_right {
        display: flex;
        flex-direction: column;
        padding-left: 0px;
    }

    .block3_cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .block3_cards .card {
        width: 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        border: 1px solid #F7F7F7;
        box-sizing: border-box;
        border-radius: 16px;
        margin: 12px;
    }

    .card_img {
        width: 100%;
        height: auto;
    }

    .submitBtn {
        display: none;
    }

    .submitBtn_mini {
        display: flex;
    }

    .advertisement {
        width: 100%;
        max-width: calc(100% - 24px);
        height: 392px;
        background: url(./../assets/img/advertisementBG.png) #F5F5F5;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: 100% 0;
        border-radius: 16px;
        padding: 34px;
        position: relative;
        margin: 20px 12px;
    }

    .advertisement_img {
        position: absolute;
        width: calc(90% - 68px);
        height: auto;
        top: 100%;
        bottom: 0;
        transform: translateY(-110%);
        right: 0;
    }

    .advertisement_type {
        font-size: 28px;
        line-height: 32px;
    }

    .advertisement_name {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }

    .advertisement_time {
        font-size: 14px;
        line-height: 24px;
    }

    .submitBtn_mini {
        width: 48px;
        height: 48px;
        background: #7BC049;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        box-shadow: 0px 2px 0px #6CA741;

        padding: 19px 0;
        /*margin: 0 12px;*/
    }

    .submit_img {
        margin: 0;
    }

    .submitField {
        border-radius: 8px;
        font-size: 18px;
        line-height: 24px;
        display: flex;
        align-items: center;
        padding: 19px 0;
        padding-left: 21px;
        width: 251px;
        width: 78%;
        height: 48px;
        margin: 0 12px;
    }

    .filtersBtn{
        width: 100%;
        display: flex;
        flex-direction: row;
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #ABABAB;
        padding: 0 19px;
        position: relative;
        cursor: pointer;
    }
    .filtersBtn img{
        width: 20px;
        height: 20px;
        margin-right: 8px;
    }
    .block3_search{
        padding: 19px 0;
        background: #FFFFFF;
        border-radius: 16px;
    }
    .block3_search .rower{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 26px;
    }

    #block3_left__mini{
        position: absolute;
        left: 0;
        z-index: 50;
        border-radius: 0px;
        display: none;
    }
    .categoriClose{
        position: absolute;
        right: 30px;
        top: 22px;
        cursor: pointer;
    }
    .block2{
        padding-right: 0px;
        padding-left: 0px;
    }
    .preview_item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
        padding-top: 32px;
    }
    .preview_cards .item {
        width: calc(50% - 12px);
        height: 184px;
        background: #F0F0F0;
        border-radius: 16px;
        margin: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 48px;
        padding-top: 24px;
        cursor: pointer;
    }
}