.crumbs {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
}

.crumbs_item {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #808080;
    margin-right: 42px;
    margin-bottom: 14px;
}

/*================block1==================*/
.block1 {
    width: 100%;
    padding-top: 32px;
}

.block1_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 39px;
}

.block1_subtitle {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 38px;
}

.block1 .rower {
    display: flex;
    flex-direction: row;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
}

.block1_left {
    width: 350px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.areaCityBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 35px;
}

.area_item {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #CBCBCB;
    padding-bottom: 4px;
    border-bottom: 2px solid #CBCBCB;
}

.mapPoints {
    display: flex;
    flex-direction: column;
    max-height: 465px;
    overflow-y: scroll;
}

.point {
    display: flex;
    flex-direction: column;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 32px;
}


.point_name {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 5px;
}

/*=====contactCenter=====*/
.contactCenter {
    background: #F7F7F7;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 30px 32px;
    width: 76%;
    margin-left: 24%;
    margin-top: 38px;
    margin-bottom: 120px;
}

.contactCenter_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 20px;
    letter-spacing: 0.1px;
    color: #000000;
    margin-bottom: 28px;
}

.contactCenter_br {
    border-bottom: 2px solid #EAEAEA;
    margin-bottom: 27px;
}

.contactCenter_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contactCenter_item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.previewCards_img {
    margin-right: 14px;
}

.contactCenter_contact {
    display: flex;
    flex-direction: column;
}

.contact_title {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #222222;
    margin-bottom: 4px;
}

.contact_value {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #222222;
}

.block1_right {
    position: relative;
    width: 100%;
    padding: 0 30px;
}

#map {
    position: absolute;
    width: calc(100% - 30px);
    height: 526px;
    right: 0;
}


/*===special===*/
.area_item__active {
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    color: #7BC049;
    border-bottom: 2px solid #7BC049;
}

.point_active {
    color: #7BC049;
}

.mapPoints::-webkit-scrollbar {
    width: 14px; /* ширина scrollbar */
}

.mapPoints::-webkit-scrollbar-track {
    background: #E7E7E7; /* цвет дорожки */
}

.mapPoints::-webkit-scrollbar-thumb {
    background-color: #7BC049; /* цвет плашки */
    border-radius: 32px; /* закругления плашки */
}

.noMb {

}

@media screen and (min-width: 250px) and (max-width: 600px) {
    /*================block1==================*/
    .block1 {
        width: 100%;
        padding-top: 32px;
    }

    .block1_title {
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #000000;
        margin-bottom: 39px;
    }

    .block1_subtitle {
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000000;
        margin-bottom: 38px;
    }

    .block1 .rower {
        display: flex;
        flex-direction: column;
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000000;
    }

    .block1_left {
        width: 350px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }

    .areaCityBox {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 35px;
    }


    .mapPoints {
        display: flex;
        flex-direction: column;
        max-height: 465px;
        overflow-y: scroll;
    }

    .point {
        display: flex;
        flex-direction: column;
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #000000;
        margin-bottom: 32px;
    }


    .point_name {
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 5px;
    }


    /*=====contactCenter=====*/
    .contactCenter {
        background: #F7F7F7;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        padding: 30px 32px;
        width: 100%;
        margin-left: 0%;
        margin-top: 62px;
        margin-bottom: 80px;
    }

    .contactCenter_title {
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 20px;
        letter-spacing: 0.1px;
        color: #000000;
        margin-bottom: 28px;
    }

    .contactCenter_br {
        border-bottom: 2px solid #EAEAEA;
        margin-bottom: 27px;
    }

    .contactCenter_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contactCenter_item {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 32px;
    }

    .previewCards_img {
        width: 42px;
        height: 42px;
        margin-right: 14px;
    }

    .contactCenter_contact {
        display: flex;
        flex-direction: column;
    }

    .contact_title {
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1px;
        color: #222222;
        margin-bottom: 4px;
    }

    .contact_value {
        font-family: 'GT Eesti Pro Display';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.1px;
        color: #222222;
    }

    .block1_right {
        position: relative;
        width: 100%;
        padding: 0;
    }

    #map {
        position: relative;
        width: 100%;
        height: 400px;
        right: 0;
    }


    /*====spec====*/
    .noMb {
        margin-bottom: 0;
    }
}