/*==================slider1======================*/
slider1. {
    margin-top: 29px;
    position: relative;
    width: 100%;
}

.slider1 .slider__item {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-top: 25px;

    background: url("./../assets/img/Ellipse105.png") no-repeat;
    background-position: calc(100% - 30px) center;
    background-size: 30%;
    position: relative;
}

.slider1_blockInfo {
    margin: 148px 0;
    margin-left: 120px;
    width: 60%;
}

.slider1_img {
    position: absolute;
    height: 95%;
    bottom: 0;
    right: -7%;
    mix-blend-mode: multiply;
}

.slider1_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 500;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 39px;
}

.slider1_subtitle {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 48px;
    width: 65%;
}

.slider1_btnDetailed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 64px;
    padding: 20px 31px;
    background: #7BC049;
    box-shadow: 0px 4px 60px rgba(123, 192, 73, 0.5), 0px 4px 0px #6CA741;
    border-radius: 60px;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    cursor: pointer;
}
/*============block1=================*/
.block1 {
    width: 100%;
    padding-top: 73px;
}

.block1_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 40px;
}

.block1_form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.form_item {
    width: 376px;
    height: 64px;
    background: #F1F1F1;
    padding-left: 24px;
    border-radius: 32px;

    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #929292;
    border: none;
    outline: none;
    margin-bottom: 40px;
}

.formBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px 31px;
    width: 216px;
    height: 64px;
    background: #7BC049;
    border-radius: 60px;
    border: none;
    cursor: pointer;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}

.form_subtitle {
    width: 100%;
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 350;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #000000;
}

.form_subtitle {
    display: inline-block;
}

.form_subtitle a {
    color: #7BC049;
}

/*============block2=================*/
.block2 {
    width: 100%;
    padding-top: 80px;
}

.block2_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 32px;
}

#map {
    width: 100%;
    height: 550px;
}

/*============block3=================*/
.block3 {
    width: 100%;
    padding-top: 80px;
}

.block3_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 32px;
}

.block3_subtitle {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 350;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 32px;
}

.block3_preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.preview_item {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.preview_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 24px;
}

.preview_cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.preview_charts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 48px;
}

.preview_cards .item {
    width: calc(216px - 24px);
    height: calc(216px - 24px);
    background: #F0F0F0;
    border-radius: 16px;
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0 48px;
    padding-top: 24px;
}

.previewCards_imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background: #7BC049;
}

.previewCards_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #000000;
    text-align: center;
}

.preview_charts .item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.previewCharts_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 15px;
}

.previewCharts_box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: calc(114px - 24px);
    height: 370px;
    background: #f0f0f0;
    margin: 0 12px;
    margin-bottom: 24px;
}

.previewCharts_number {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #8A8A8A;
}

.chart_item {
    width: 100%;
    background: #7BC049;
    content: attr(data-quantity);
    border-radius: 16px 16px 0px 0px;
}

#chart_item1 {
    height: 45%;
}

#chart_item2 {
    height: 65%;
}

#chart_item3 {
    height: 75%;
}

#chart_item4 {
    height: 70%;
}

#chart_item5 {
    height: 90%;
}

#chart_item6 {
    height: 100%;
}

.preview_subtitle {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
}

/*============block4=================*/
.block4 {
    display: flex;
    flex-direction: column;
    padding-top: 142px;
}

.block4_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 32px;
}

.block4_subtitle {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 54px;
}

.block4_content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.block4_format {
    display: flex;
    flex-direction: column;
    padding: 0 12px;
    width: 33%;
    /*margin: 0 12px;*/
}

.block4_format img {
    margin-bottom: 44px;
}

.formatItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 32px;
}

.formatItem_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 15px;
}

.formatItem_value {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 350;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
}

.block4_form {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
    padding: 41px 44px;
    margin: 0 12px;
    width: calc(33% - 24px);
}

.form_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 42px;
}

.block4_form .form_item {
    margin-bottom: 57px;
}

.block4_form .formBtn {
    width: 100%;
}

.block4_form .form_subtitle {
    margin-bottom: 67px;
}

/*============block5=================*/
.block5 {
    display: flex;
    flex-direction: column;
    padding-top: 142px;
    width: 100%;
}

.block5_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 61px;
}

.block5_cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.block5_cards .cards_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;
    padding-top: 34px;
    width: 31%;
    margin: 1%;
    background: #F0F0F0;
    border-radius: 16px;
    max-height: 600px;
}

.block5_imgBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 103px;
    height: 103px;
    border-radius: 50%;
    background: #7BC049;
    margin-bottom: 40px;
}

.block5_imgBox .card_img {
    width: 45px;
    height: auto;
}

.block5_cards .cards_item .card_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 26px;
}

.block5_cards .cards_item .card_text {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 350;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
}

.block5_cards .cards_firstItem {
    background: #FFFFFF;
    border: 1px solid #7BC049;
    box-sizing: border-box;
    border-radius: 16px;
    justify-content: space-between;
    padding-bottom: 58px;
}

.block5_cards .cards_firstItem .card_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.4px;
    color: #7BC049;
}

/*============block6=================*/
.block6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 98px;
    padding-bottom: 98px;
    width: 100%;
    background: #F6F6F6;
}

.block6 .content_center .rower {
    display: flex;
    flex-direction: row;
}

.block6_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.block6_right {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block6_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 43px;
}

.block6_subtitle {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 350;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #363636;
}

.block6_video {
    border-radius: 16px;
}

/*===test-for-video=====*/

.video {
    position: relative;
    display: inline-block;
    overflow: hidden;

}

.paused:after {
    content: '';
    /*position: absolute;*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

.paused:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 25px 0 25px 50px;
    border-color: transparent transparent transparent #fff;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*============block7=================*/
.block7 {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    padding-top: 120px;
    padding-bottom: 120px;
    width: 100%;
}

.block7_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 75px;
}

.questionBlock {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin-bottom: 59px;
}

.question {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 500;
    font-size: 36px;
    line-height: 60px;
    letter-spacing: 0.4px;
    color: #000000;
}

.answer {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;

    background: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 15px 30px;
    position: absolute;
    width: 60%;
    top: 55%;
    left: 3%;
    transform: translateY(-50%);

}

.answer::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 85%;
    bottom: -35px; /* Положение треугольника */
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 20px solid #FFFFFF;
    border-right: 20px solid #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.answer__first {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #FFFFFF;

    background: #7BC049;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.1);
}

.answer__first::after {
    content: '';
    position: absolute; /* Абсолютное позиционирование */
    left: 85%;
    bottom: -35px; /* Положение треугольника */
    border: 20px solid transparent; /* Прозрачные границы */
    border-top: 20px solid #7BC049;
    border-right: 20px solid #7BC049;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.question_img {
    width: 57%;
}

/*============block8=================*/

.block8 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 120px;
    width: 100%;
    background: #FAF9F9;

}

.block8_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 75px;
}

.block8 .content_center {
    flex-direction: column;
}

.block8 .content_center .rower {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.block8_left {
    width: 40%;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-right: 10%;
}

.block8_right {
    width: 60%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}

.block8_img {
    width: 72%;
    height: auto;
    position: absolute;
}

.block8_img__1 {
    top: 0;
    left: 0;
}

.block8_img__2 {
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.block8_img__3 {
    bottom: 0;
    left: 0;
}

.block8_text {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #000000;
    margin-bottom: 75px;
    /*padding-right: 5%;*/
}

@media screen and (min-width: 250px) and (max-width: 600px) {
    /*============block1=================*/
    .block1 {
        width: 100%;
        padding: 0 16px;
        padding-top: 64px;
    }
    .block1_title{
        font-size: 24px;
        line-height: 28px;
    }
    .block1_form .formBtn{
        width: 100%;
        margin-bottom: 32px;
    }

    /*============block2=================*/
    .block2 {
        width: 100%;
        padding: 0 16px;
        padding-top: 64px;
    }
    .block2_title{
        font-size: 24px;
        line-height: 28px;
    }

    /*============block3=================*/
    .block3 {
        width: 100%;
        padding-top: 80px;
    }

    .block3_title {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: #000000;
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .block3_subtitle {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: 350;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.4px;
        color: #000000;
        padding: 0 16px;
        margin-bottom: 32px;
    }

    .block3_preview {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .preview_item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 16px;
        padding-top: 32px;
    }

    .preview_title {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.4px;
        color: #000000;
        margin-bottom: 32px;
    }

    .preview_cards {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .preview_charts {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin-bottom: 48px;
    }

    .preview_cards .item {
        width: calc(50% - 12px);
        height: calc(216px - 24px);
        background: #F0F0F0;
        border-radius: 16px;
        margin: 6px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 0 48px;
        padding-top: 24px;
    }

    .previewCards_imgBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 72px;
        height: 72px;
        border-radius: 50%;
        background: #7BC049;
    }

    .previewCards_title {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: normal;
        font-size: 24px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #000000;
        text-align: center;
    }

    .preview_charts .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .previewCharts_title {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #000000;
        margin-bottom: 15px;
    }

    .previewCharts_box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 85%;
        height: 195px;
        background: #f0f0f0;
        margin: 0 6px;
        margin-bottom: 8px;
    }

    .previewCharts_number {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.4px;
        color: #8A8A8A;
    }

    .chart_item {
        width: 100%;
        background: #7BC049;
        content: attr(data-quantity);
        border-radius: 8px 8px 0px 0px;
    }

    .preview_subtitle {
        font-family: GT Eesti Pro Display;
        font-style: italic;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.4px;
        color: #000000;
    }

    /*============block4=================*/
    .block4 {
        max-width: 100%;
        padding-top: 62px;
    }
    .block4_form{
        margin: 16px;
        padding: 30px 26px;
    }
    .formatItem{
        margin-bottom: 24px;
        font-size: 18px;
        line-height: 21px;
    }
    .block4_title{
        font-size: 24px;
        line-height: 28px;
        margin: 0 12px;
        margin-bottom: 16px;

    }
    .block4_subtitle{
        font-size: 16px;
        line-height: 19px;
        margin: 0 12px;
        margin-bottom: 12px;
    }
    .block4_format {
        display: flex;
        flex-direction: column;
        padding: 0 12px;
        width: 100%;
    }
    .block4_form{
        width: calc(100% - 24px);
        padding-left: 12px;
        padding-right: 12px;
    }
    .form_title {
        font-size: 24px;
        line-height: 28px;
    }
    .block4_form .form_subtitle{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 32px;
    }


    .block4_format img {
        margin-bottom: 44px;
        width: 100%;
    }
    .block4_form .form_item {
        width: 100%;
        height: 48px;
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .form_item {
        width: 100%;
        height: 48px;
        max-width: 100%;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 24px;
    }
    .formBtn {
        height: 48px;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-transform: capitalize;
    }
    /*.formBtn {*/
    /*    height: 48px;*/
    /*    font-weight: 400;*/
    /*    font-size: 18px;*/
    /*    line-height: 21px;*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: center;*/
    /*    text-transform: capitalize;*/
    /*}*/

    /*============block5=================*/
    .block5 {
        flex-direction: column;
    }
    .block5_title {
        padding: 0 16px;
        font-size: 24px;
        line-height: 28px;
    }

    .block5_cards {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .block5_cards .cards_item {
        width: calc(100% - 32px);
        max-width: 100%;
        margin: 16px;
        margin-top: 0;
        padding: 26px;
        padding-top: 34px;
    }
    .block5_imgBox {
        width: 64px;
        height: 64px;
    }
    .card_title{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .card_img{
        width: 125px;
        height: auto;
    }
    .block5_cards .cards_item .card_text {
        font-size: 16px;
        line-height: 19px;
    }
    /*============block6=================*/
    .block6 {
        padding: 0px 16px;
        padding-top: 60px;
        padding-bottom: 60px;

    }
    .block6 .content_center .rower {
        display: flex;
        flex-direction: column;
    }
    .block6_left {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .block6_right {
        width: 100%;
    }
    .block6_title {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 16px;
    }
    .block6_subtitle {
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 32px;
    }

    /*============block7=================*/
    .block7 {
        flex-direction: column;
        overflow: hidden;
        padding: 0 16px;
        padding-top: 54px;
        padding-bottom: 31px;
    }
    .block7_title{
        font-size: 24px;
        line-height: 28px;
        margin-bottom: 34px;
    }
    .questionBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 31px;
    }
    .question{
        font-size: 24px;
        line-height: 28px;
        padding-bottom: 102px;
    }
    .question_img{
        width: 302px;
        max-width: 100%;
        margin-left: 33%;
    }
    .answer {
        width: 310px;
        max-width: 100%;
        font-size: 16px;
        line-height: 19px;
        margin-left: 18%;
    }

    /*============block8=================*/

    .block8 {
        padding-bottom: 60px;
    }
    .block8_title{
        font-size: 24px;
        line-height: 28px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 32px;
    }
    .block8_left{
        display: none;
    }
    .block8_right {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
    }
    .block8_text{
        font-size: 16px;
        line-height: 19px;
        margin-bottom: 50px;
    }
}













