
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.brr{
    /*border: 1px solid red;*/
}
.br{
    /*border: 1px solid greenyellow;*/
}
body{
    background: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;

}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    background: #FFFFFF;
}
.headerTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background: #444444;
    padding: 9px 0;

}
.headerBottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 16px 0;
    background: #FFFFFF;
}

.content_center{
    width: 100%;
    max-width: 1416px;
    display: flex;
    flex-direction: row;
}
.spaceBetween{
    justify-content: space-between;
}
.headerTop_left{
    display: flex;
    flex-direction: row;
}
.headerTop_right{
    display: flex;
    flex-direction: row;
}
.headerTop_item{
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.headerTop_item i{
    font-size: 18px;
    margin-right: 15px;
    color: #7BC049;
}
.noMrL{
    margin-left: 0px !important;
}
.headerBottom_left{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

}
.headerBottom_right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}
.headerBottom_item{
    display: flex;
    max-width: 100%;
    align-items: center;
    padding-right: 15px;
    margin: 0px 32px;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
}
.headerBottom_item .content_center{
    flex-wrap: wrap;
}
.headerBottom_item__active{
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    border-bottom: 1px solid #7BC049;
}
.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #F5F5F5;
    border-radius: 50%;
    margin: 10px 8px;
}
.social i {
    color: #B6B6B6;
    font-size: 21px;
}
.btnCallback{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 24px;
    width: 180px;
    background: #7BC049;
    border-radius: 50px;
    font-family: 'GT Eesti Pro Display';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-left: 16px;
}
/*=============footer=============*/
.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1920px;
}
.footer_top{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
    background: #333333;
}
.footer_bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 47px 0;
    background: #282828;
    padding-bottom: 11px;
}
.footer_top .content_center{
    display: flex;
    flex-direction: column;
}
.footer_title{
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.footer_form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.footer_form .form_item{
    margin-left: 12px;
    margin-bottom: 32px;
}
.footer_form .formBtn{
    margin: 0 12px;
}
.footer_form .form_subtitle{
    width: 100%;
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 350;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
}
.footer_bottom .content_center{
    flex-direction: column;
}
.footer_logo{
    width: 48px;
    height: 48px;
    margin-bottom: 32px;
}
.footer_subtext{
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
    margin-bottom: 24px;
}
footer_menu{
    display: flex;
    flex-direction: row;

}
.footer_menu .footerBtn{
    display: inline-flex;
    margin-left: 24px;
    margin-bottom: 32px;
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;
    font-feature-settings: 'liga' off;
    color: #FFFFFF;
}
/*===================headerMini=================*/
.headerMini {
    width: 100%;
    max-width: 100%;
    height: 50px;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    background: #F6F6F6;
}

.btnOpen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    cursor: pointer;
}

.btnOpen_line__C {
    margin: 8.7px;
    margin-left: 0;
}

.Logo_mini {
    width: 28px;
    height: 28px;
    margin: 18px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Logo_mini img{
    max-width: 100%;
}

.btnCall {
    width: 18px;
    height: 18px;
    cursor: pointer;
}

/*===================menuMini=================*/
.menuMini {
    width: 100%;
    display: none;
    flex-direction: column;
    height: 100vh;
    align-items: flex-start;
    padding: 16px;
    padding-bottom: 10px;
    background: #FFFFFF;
}


.btnClose {
    width: 16px;
    height: 16px;
    margin-bottom: 16px;
}

.menuMini_lineSilver {
    width: 100%;
    border-top: 1px solid #F6F6F6;
    margin-bottom: 16px;
}

.blockTop {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 21px;
}

.blockTop .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}
.menuMini_icon{
    margin-right: 15px;
}
.menuMini_text {
    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.blockCenter {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    align-items: flex-start;
    width: 100%;
    margin-bottom: 32px;
}

.blockCenter_btnCall {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 47px;
    border: 1px solid #FC5901;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #FC5901;
    margin-bottom: 12px;
}

.blockCenter_btnMagaz {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 342px;
    height: 47px;
    background: #7BC049;
    border-radius: 32px;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.blockBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 17px;
    width: 100%;

}

.blockBottom_link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #F6F6F6;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
}

.blockBottom_link__active {
    border-bottom: 1px solid #7BC049;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #7BC049;
}

/*===special===*/
body::-webkit-scrollbar {
    width: 14px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background: #E7E7E7;        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
    background-color: #7BC049;    /* цвет плашки */
    border-radius: 32px;       /* закругления плашки */
    /*border: 3px solid orange;  !* padding вокруг плашки *!*/
}

@media screen and (min-width: 250px) and (max-width: 600px) {

    .header {
        display: none !important;
    }

    .headerMini {
        display: flex;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 99;
    }

    .menuMini {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
    }

    .footer-top {
        padding-left: 37px;
        padding-right: 37px;
    }
    .footer_bottom {
        padding-left: 37px;
        padding-right: 37px;
    }
    .footer_title{
        font-size: 24px;
        line-height: 28px;
    }
    .footer_menu{
        display: flex;
        flex-direction: column;
    }

    .footerMini {
        display: flex;
    }
    .footer_menu .footerBtn {
        margin-left: 0px;
        margin-bottom: 24px;

    }
    .footer_top{
        padding: 0px 16px;
        padding-top: 30px;
    }
    .footer_form .form_item{
        margin-left: 0;
        /*background: #707070;*/
        /*color: #FFFFFF;*/
    }
    .footer_form .formBtn{
        width: 100%;
        margin: 32px 0;
    }
    .footer_form .form_subtitle {
        margin-bottom: 60px;
    }
    .footer_subtext{
        font-size: 14px;
        line-height: 24px;
    }
    /*.form_title {*/
    /*    font-size: 24px;*/
    /*    line-height: 28px;*/
    /*}*/
    /*.form_subtitle{*/
    /*    font-size: 16px;*/
    /*    line-height: 19px;*/
    /*    margin-bottom: 32px;*/
    /*}*/

    /*.form_item {*/
    /*    width: 100%;*/
    /*    height: 48px;*/
    /*    max-width: 100%;*/
    /*    font-size: 18px;*/
    /*    line-height: 24px;*/
    /*    margin-bottom: 24px;*/
    /*}*/
    /*.formBtn {*/
    /*    height: 48px;*/
    /*    font-weight: 400;*/
    /*    font-size: 18px;*/
    /*    line-height: 21px;*/
    /*    display: flex;*/
    /*    flex-direction: row;*/
    /*    justify-content: center;*/
    /*    align-items: center;*/
    /*    text-transform: capitalize;*/
    /*}*/

}