.slider{
    min-width: 0;
    position: relative;
}

/* Слайдер */
.slick-slider{}
/* Слайдер запущен */
.slick-slider.slick-initialized{}
/* Слайдер с точками */
.slick-slider.slick-dotted{}
/* Ограничивающая оболочка */
.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
}
/* Слайд */
.slick-slide{}
/* Слайд активный (показывается) */
.slick-slide.slick-active{}
/* Слайд основной */
.slick-slide.slick-current{}
/* Слайд по центру */
.slick-slide.slick-center{}
/* Клонированный слайд */
.slick-slide.slick-cloned{}
/* Стрелка */
.slick-arrow{}
/* Стрелка влево */
.slick-arrow.slick-prev{}
/* Стрелка вправо */
.slick-arrow.slick-next{}
/* Стрелка не активная */
.slick-arrow.slick-disabled{}
/* Точки (булиты) */
.slick-dots{}
.slick-dots li{}
/* Активная точка */
.slick-dots li.slick-active{}
/* Элемент точки */
.slick-dots li button{}

/*==================current slider1====================*/
.slider1{
    background: #F1F1F1;
    border-radius: 16px;
    position: relative;
}
.slider1 .slick-slide{
    display: flex;
    flex-direction: row;
}

.slider1 .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
}
.slider1 .slick-dots li{
    list-style: none;
}

/*стилизация активной точки слайдера*/
.slider1 .slick-dots li.slick-active button{
    background: #7bc049;
}

.slider1 .slick-dots button{
    font-size: 0;
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    margin: 0 9px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

/*==================current slider2====================*/
.slider2{
    background: #171717;
    border-radius: 16px;
    position: relative;
    margin-top: 29px;
    position: relative;
    width: 100%;
}
.slider2 .slick-slide{
    display: flex;
    flex-direction: row;
    z-index: 50;
}
.slider2 .slider__item {
    display: flex;
    justify-content: space-between;
    padding-right: 30px;
    padding-top: 25px;
    position: relative;
}

.slider2 .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: 0;
}
.slider2 .slick-dots li{
    list-style: none;
}

/*стилизация активной точки слайдера*/
.slider2 .slick-dots li.slick-active button{
    background: #7bc049;
}

.slider2 .slick-dots button{
    font-size: 0;
    width: 16px;
    height: 16px;
    background: #C4C4C4;
    margin: 0 9px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.slider2_blockInfo {
    margin: 148px 0;
    margin-left: 120px;
    width: 60%;
}
.slider2_title {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: 900;
    font-size: 72px;
    line-height: 84px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-bottom: 41px;
}
.slider2_subtitle {
    font-family: GT Eesti Pro Display;
    font-style: italic;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    margin-bottom: 48px;
    width: 65%;
}
.slider2_btnDetailed {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 224px;
    height: 64px;
    padding: 20px 31px;
    background: #7BC049;
    box-shadow: 0px 4px 60px rgba(123, 192, 73, 0.5), 0px 4px 0px #6CA741;
    border-radius: 60px;

    font-family: GT Eesti Pro Display;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #FFFFFF;
    cursor: pointer;
}

.slider2_img {
    position: absolute;
    height: 95%;
    bottom: 0;
    right: 0;
    mix-blend-mode: multiply;
    /*filter: drop-shadow(0 0 300px rgba(123, 192, 73, 0.5)) drop-shadow(0 0 700px rgba(123, 192, 73, 0.5));*/
}
.textShadow {
    text-shadow: -1px 0 #FFFFFF, 0 1px black, 1px 0 black, 0 -1px #FFFFFF;
    -webkit-text-stroke: 2px #FFFFFF;
    color: black;
}

/*==================current slider3====================*/
.slider3{
    background: #E5E5E5;
    position: relative;
    width: 447px;
    width: 33%;
    max-width: 96%;
    /*height: 381px;*/
    margin-bottom: 55px;
}
.slider3 .slick-slide{
    display: flex;
    flex-direction: row;
    z-index: 50;
}
.slider3 .slider__item {
    display: flex;
    justify-content: space-between;
    /*padding-right: 30px;*/
    position: relative;
}
.slider3 .slider__item img{
    width: 100%;
    height: auto;
}


.slider3 .slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    bottom: -58px;
}
.slider3 .slick-dots li{
    list-style: none;
}

/*стилизация активной точки слайдера*/
.slider3 .slick-dots li.slick-active button{
    background: #6B6B6B;
}

.slider3 .slick-dots button{
    font-size: 0;
    width: 30px;
    height: 2px;
    background: rgba(107, 107, 107, 0.31);
    margin: 0 9px;
    border: none;
    cursor: pointer;
}
/*==============slider4===================*/
.slider4{
    position: relative;
}
.slider4 .slick-arrow{
    position: absolute;
    top: 0;
    margin: -30px 20px 0px 20px;
    z-index: 10;
    font-size: 0;
    width: 30px;
    height: 30px;
    border: 0px;
    cursor: pointer;
}
.slider4 .slick-arrow.slick-prev{
    left: calc(100% - 90px);
    background: url("./../assets/img/slider/sl-arrow_l.png") 0 0 / 100% no-repeat;
}
.slider4 .slick-arrow.slick-next{
    right: -20px;
    background: url("../assets/img/slider/sl-arrow_r.png") 0 0 / 100% no-repeat;
}



@media screen and (min-width: 250px) and (max-width: 600px) {
    /* Ограничивающая оболочка */
    .slider1{
        width: calc(100% - 12px);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 82px;
    }
    .slider1 .slider__item {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;
        background: url("./../assets/img/Ellipse105.png") no-repeat;
        background-position: calc(100% - 20px) 30px;
        background-size: 50%;
        position: relative;
        padding-right: 0;
    }

    .slider1 .slick-list {
        margin: 16px 0;
        overflow: hidden;
    }
    /* Слайд */
    .slider1 .slick-slide{
        width: 200px;
        height: auto;
        margin: 16px 16px;
    }

    .slider1 img{
        width: 50%;
        height: auto;

        /*margin: 16px 2%;*/
        margin: 0;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

    }
    .slider1_blockInfo{
        margin: 0;
        margin-top: 80%;
        width: 100%;
    }
    .slider1_title{
        font-weight: bold;
        font-size: 20px;
        line-height: 23px;
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
    }
    .slider1_subtitle{
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        margin: 0;
        margin-bottom: 28px;
    }
    .slider1_btnDetailed{
        width: 100%;
        margin-bottom: 52px;
    }
    .slider1 .slick-dots button{
        font-size: 0;
        width: 8px;
        height: 8px;
        background: #C4C4C4;
        margin: 0 5px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    /*==================current slider2====================*/
    .slider2{
        width: calc(100% - 12px);
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        margin-top: 82px;
    }
    .slider2 .slider__item {
        padding-right: 0;
    }
    .slider2 .slick-list {
        margin: 16px 0;
        overflow: hidden;
    }
    /* Слайд */
    .slider2 .slick-slide{
        width: 200px;
        height: auto;
        margin: 16px 16px;
    }

    .slider2 img{
        width: 90%;
        height: auto;

        margin: 0;
        top: -5%;
        left: 50%;
        transform: translateX(-50%);

    }
    .slider2_blockInfo{
        margin: 0;
        margin-top: 80%;
        width: 100%;
    }
    .slider2_title{
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;
        width: 100%;
        margin: 0;
        margin-bottom: 16px;
    }
    .slider2_subtitle{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        width: 100%;
        margin: 0;
        margin-bottom: 28px;
    }
    .slider2_btnDetailed{
        width: 100%;
        margin-bottom: 52px;
    }
    .slider2 .slick-dots button{
        font-size: 0;
        width: 8px;
        height: 8px;
        background: #C4C4C4;
        margin: 0 5px;
        border: none;
        border-radius: 50%;
        cursor: pointer;
    }
    /*==================current slider3====================*/
    .slider3{
        background: #E5E5E5;
        position: relative;
        width: 100%;
        max-width: 100%;
        margin-bottom: 50px;
    }
    .slider3 .slick-dots{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        position: absolute;
        right: 50%;
        transform: translateX(50%);
        bottom: -68px;
    }
    /*==================current slider4====================*/
    .slider4 .slider__item .card{
        margin: 0;
    }
    .slider4 .slider__item .card a .card_img{
        width: 100%;
        max-width: 100%;

    }
    .slider4{
        position: relative;
    }
    .slider4 .slick-arrow{
        position: absolute;
        top: -10px;
        margin: -30px 20px 0px 20px;
        z-index: 10;
        font-size: 0;
        width: 30px;
        height: 30px;
        border: 0px;
        cursor: pointer;
    }
    .slider4 .slick-arrow.slick-prev{
        left: calc(100% - 90px);
        background: url("./../assets/img/slider/sl-arrow_l.png") 0 0 / 100% no-repeat;
    }
    .slider4 .slick-arrow.slick-next{
        right: -20px;
        background: url("../assets/img/slider/sl-arrow_r.png") 0 0 / 100% no-repeat;
    }

}